{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Machado</title>
    <link rel="stylesheet" href="{% static 'css/AboutUs.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="buttonright">
                <a class="customer-support" href="{% url 'log_out' %}">log out</a>
                <a class="customer-support" href="{% url 'about_us' %}">About Us</a>
                
            </div>
            <div class="logo">
                <h1><a href="{% url 'home_page_login' %}">Mercado Machado</a></h1>
            </div>
            <div class="buttonleft">
                <a class="customer-support" href="{% url 'folheto' %}">Folheto</a>
                <a class="customer-support" href="{% url 'cesto' %}">
                    <img src="{% static 'img/Vector.png' %}" alt="Cesto" style="width: 20px; height: 20px;">
                </a>
            </div>
        </div>
    </header>
<div class="primeira">
    <img src="{% static 'img/Rectangle 312 .png' %}" alt="fora">
</div>
    <section class="promo-section">
        <div class="promo-card">
            <img src="{% static 'img/Gringo.jpg' %}" alt="Gringo">
            <h3>Rodrigo Saraiva</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="promo-card">
            <img src="{% static 'img/Klank.jpg' %}" alt="Promo Image">
            <h3>Eurico Pinho</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="promo-card">
            <img src="{% static 'img/Lenin.jpg' %}" alt="Promo Image">
            <h3>Geraldo</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="promo-card">
            <img src="{% static 'img/Martim.jpg' %}" alt="Promo Image">
            <h3>Martim Marques</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>

    </section>
    contcte-nos adicionar
</body>
</html>