{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Machado</title>
    <link rel="stylesheet" href="{% static 'css/AdminPage.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            
            <div class="buttonright">
                <a id="user-link" class="customer-support" href="{% url 'home_page_login' %}">
                    Log Out
                </a>
            </div>

            <div class="logo">
                <h1><a>Mercado Machado</a></h1>
            </div>
            
        </div>
    </header>

    <main class="content">
        <div class="button-container">
            <a href="{% url 'adicionar_produto' %}">
                <button class="add-button">Adicionar Produto</button>
            </a>
            <a href="{% url 'listar_promocoes' %}">
                <button class="promo-button">Gerir Promoções</button>
            </a>
            <a href="{% url 'vendas_por_mes' %}">
                <button class="promo-button">Histórico Vendas</button>
            </a>
        </div>

        <h2 class="table-title">Lista de Produtos</h2>
        <table class="product-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Quantidade em Stock</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{ produto.nome_produto }}</td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.quantidade }}</td>
                    <td>{{ produto.preco }}</td>
                    <td>{{ produto.id_subcategoria.nome_categoria }}</td>
                    <td>            
                        <a href="{% url 'detalhes_admin' produto.id_produto %}">
                            <button class="details-button">Detalhes</button>
                        </a>
                        <a href="{% url 'remover_produto' produto_id=produto.id_produto %}" class="remove-button">Remover</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Nenhum produto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <script>
        function removeProduto(produtoId) {
            if (confirm('Tem certeza que deseja remover este produto?')) {
                window.location.href = '/remover-produto/' + produtoId + '/';
            }
        }
    </script>
</body>
</html>
