{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Machado</title>
    <link rel="stylesheet" href="{% static 'css/Folheto.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="buttonright">
                <a class="customer-support" href="{% url 'log_out' %}">log out</a>
                <a class="customer-support" href="{% url 'about_us' %}">About Us</a>
            </div>
            <div class="logo">
                <h1><a href="{% url 'home_page_login' %}">Mercado Machado</a></h1>
            </div>
            <div class="buttonleft">
                <a class="customer-support" href="{% url 'folheto' %}">Folheto</a>
                <a class="customer-support" href="{% url 'cesto' %}">
                    <img src="{% static 'img/Vector.png' %}" alt="Cesto" style="width: 20px; height: 20px;">
                </a>
            </div>
        </div>
    </header>

    <h1>Promoções</h1>

    {% if promos %}
    <div class="promo-container">
        {% for promo in promos %}
            {% for produto in produtos %}
                {% if promo.id_produto.id_produto == produto.id_produto %}
                    <div class="promo-card">
                        <!-- Exibir imagem do MongoDB se existir -->
                        {% if produto.id_produto in imagens_produtos %}
                            <img src="data:image/png;base64,{{ imagens_produtos|dict_get:produto.id_produto }}" class="d-block mx-auto" alt="Promo Image">
                        {% else %}
                            <img src="{% static 'img/default.png' %}" class="d-block mx-auto" alt="Promo Image">
                        {% endif %}

                        <h3>{{ produto.nome_produto }}</h3>
                        <p>
                            <span class="original-price" style="text-decoration: line-through;">{{ produto.preco_original }}</span>
                            <span class="discounted-price">{{ produto.preco }}</span>
                            <span class="discount-percentage">-{{ promo.desconto }}%</span>
                        </p>
                        <a href="{% url 'descobre_mais' promo.id_produto.id_produto %}" class="btn btn-primary">Descrição</a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    {% else %}
    <p>No promotions available at the moment.</p>
    {% endif %}
</body>
</html>
