{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Machado</title>
    <link rel="stylesheet" href="{% static 'css/Folheto.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="buttonright">
                <a class="customer-support" href="{% url 'log_out' %}">log out</a>
                <a class="customer-support" href="{% url 'about_us' %}">About Us</a>
                
            </div>
            <div class="logo">
                <h1><a href="{% url 'home_page_login' %}">Mercado Machado</a></h1>
            </div>
            <div class="buttonleft">
                <a class="customer-support" href="{% url 'folheto' %}">Folheto</a>
                <a class="customer-support" href="{% url 'cesto' %}">
                    <img src="{% static 'img/Vector.png' %}" alt="Cesto" style="width: 20px; height: 20px;">
                </a>
            </div>
        </div>
    </header>

    {% if promos %}
    <section class="promo-section">
        {% for promo in promos %}
        <div class="promo-card">
            <div class="promo">
                <h3>{{ promo.desconto }}%</h3>
            </div>
            <p>{{ promo.descricao }}</p>
            <a href="{% url 'descobre_mais' promo.id_produto %}" class="promo-btn">Descrição</a>
        </div>
        {% endfor %}
    </section>
    {% else %}
    <p>No promotions available at the moment.</p>
    {% endif %}
</body>
</html>
