{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Machado</title>
    <link rel="stylesheet" href="{% static 'css/HomePageLogin.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="buttonright">
                <a class="customer-support" href="{% url 'about_us' %}">About Us</a>
                
            </div>
            <div class="logo">
                <h1><a href="{% url 'home_page_login' %}">Mercado Machado</a></h1>
            </div>
            <div class="buttonleft">
                <a class="customer-support" href="{% url 'folheto' %}">Folheto</a>
                <a class="customer-support" href="{% url 'cesto' %}">
                    <img src="{% static 'img/Vector.png' %}" alt="Cesto" style="width: 20px; height: 20px;">
                </a>
            </div>
        </div>
    </header>
    
    <section class="hero">
        <div class="hero-content">
            <div class="hero-image">
                <img src="https://via.placeholder.com/350x200" alt="Image 1">
                <button class="btn">Descobre Mais</button>
            </div>
            <div class="hero-image">
                <img src="https://via.placeholder.com/350x200" alt="Image 2">
                <button class="btn">Descobre Mais</button>
            </div>
        </div>
    </section>

    {% if promos %}
    <section class="promo-section">
        {% for promo in promos %}
        <div class="promo-card">
            <img src="{{ promo.image_url }}" alt="Promo Image">
            <h3>{{ promo.nome_produto }}</h3>
            <p>{{ promo.preco_produto }}</p>
            <a href="{% url 'descobre_mais' promo.id_produto %}" class="promo-btn">Descrição</a>
        </div>
        {% endfor %}
    </section>
    {% endif %}

    <section class="categories-section">
        {% for category in categories %}
            {% if category.id_subcategoria %}
                <div class="category">
                    <h2>{{ category.nome_categoria }}</h2>
                    <ul class="product-list">
                        {% for promo in promos %}
                        {% if promo.id_subcategoria.id_subcategoria == category.id_subcategoria %}
                        <div class="promo-card">
                            <img src="{{ promo.image_url }}" alt="Promo Image">
                            <h3>{{ promo.nome_produto }}</h3>
                            <p>{{ promo.preco_produto }}</p>
                            <a href="{% url 'descobre_mais' promo.id_produto %}" class="promo-btn">Descrição</a>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </section>
</body>
</html>
