{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Machado</title>
    <link rel="stylesheet" href="{% static 'css/HomePageLogin.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="buttonright">
                <a id="user-link" class="customer-support" href="{% url 'log_out' %}">
                    <i class="fas fa-user"></i> <!-- Ícone de usuário -->
                </a>
                <a class="customer-support" href="{% url 'about_us' %}">About Us</a>
            </div>
            <div class="logo">
                <h1><a href="{% url 'home_page_login' %}">Mercado Machado</a></h1>
            </div>
            <div class="buttonleft">
                <a class="customer-support" href="{% url 'folheto' %}">Folheto</a>
                <a class="customer-support" href="{% url 'cesto' %}">
                    <img src="{% static 'img/Vector.png' %}" alt="Cesto" style="width: 20px; height: 20px;">
                </a>
            </div>
        </div>
    </header>
    

    {% if promos %}
    <h1>Promoções</h1>
    <div id="promoCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for promo in promos %}
                {% for produto in produtos %}
                    {% if promo.id_produto.id_produto == produto.id_produto %}
                        <div class="carousel-item {% if forloop.parentloop.first %}active{% endif %}">
                            <div class="promotion text-center">
                                <!-- Exibir imagem do MongoDB se existir -->
                                {% if imagens_produtos|default_if_none:''|dict_has_key:produto.id_produto %}
                                    <img src="data:image/png;base64,{{ imagens_produtos|default_if_none:''|dict_get:produto.id_produto }}" class="d-block mx-auto" alt="Promo Image" style="max-width: 300px;">
                                {% else %}
                                    <img src="{% static 'img/default.png' %}" class="d-block mx-auto" alt="Promo Image" style="max-width: 300px;">
                                {% endif %}

                                <h3>{{ produto.nome_produto }}</h3>
                                <p>
                                    <span class="original-price" style="text-decoration: line-through; font-size: smaller;">{{ produto.preco_original }}</span>
                                    <span class="discounted-price" style="font-weight: bold;">{{ produto.preco }}</span>
                                    <span class="discount-percentage" style="color: green; font-weight: bold;">-{{ promo.desconto }}%</span>
                                </p>
                                <a href="{% url 'descobre_mais' promo.id_produto.id_produto %}" class="btn btn-primary">Descrição</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
            <span><i class="fas fa-chevron-left text-black"></i></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
            <span><i class="fas fa-chevron-right text-black"></i></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    {% endif %}

    <section class="categories-section">
        {% for category in categories %}
            {% if category.id_subcategoria %}
                <div class="category">
                    <h2>{{ category.nome_categoria }}</h2>
                    <ul class="product-list">
                        {% for produto in produtos %}
                            {% if produto.id_subcategoria.id_subcategoria == category.id_subcategoria %}
                                <div class="promo-card">
                                    <!-- Exibir imagem do MongoDB se existir -->
                                    {% if imagens_produtos|default_if_none:''|dict_has_key:produto.id_produto %}
                                        <img src="data:image/png;base64,{{ imagens_produtos|default_if_none:''|dict_get:produto.id_produto }}" alt="Produto">
                                    {% else %}
                                        <img src="{% static 'img/default.png' %}" alt="Produto">
                                    {% endif %}

                                    <h3>{{ produto.nome_produto }}</h3>
                                    <p>{{ produto.preco }}</p>
                                    <a href="{% url 'descobre_mais' produto.id_produto %}" class="promo-btn">Descrição</a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const user = JSON.parse(localStorage.getItem("user"));
    
            if (user && user.nif) {
                // Atualiza o link para redirecionar para outra rota
                document.getElementById("user-link").href = `/UserPage/${user.nif}/`;
            }
        });
    </script>

</body>
</html>
