{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
</head>
<body>
    <div class="login">
        <!-- Avatar -->
        <div class="login-child">
            <img src="{% static 'img/Rectangle 312 .png' %}" alt="User Avatar">
        </div>

        <!-- Inputs -->
        <div class="input1">
            <input type="text" placeholder="Username/Email">
        </div>
        <div class="input">
            <input type="password" placeholder="Password">
        </div>

        <!-- Link para alterar senha -->

        <!-- Botões -->
        <button class="button">Log in</button>
        <button class="button1">Registar</button>
    </div>
</body>
</html>
