{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
</head>
<body>
    <div class="login">
        <!-- Avatar -->
        <div class="login-child">
            <img src="{% static 'img/Rectangle 312 .png' %}" alt="User Avatar">
        </div>

        <!-- Formulário de Login -->
        <form action="{% url 'login_admin' %}" method="POST">
            {% csrf_token %}
            <!-- Inputs -->
            <div class="input1">
                <input type="text" name="pnome_funcionario" placeholder="Primeiro Nome" required>
            </div>
            <div class="input">
                <input type="password" name="senha_funcionario" placeholder="Senha" required>
            </div>

            <!-- Botões -->
            <button type="submit" class="button">Log in</button>
        </form>
    </div>
</body>
</html>
