{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Machado</title>
    <link rel="stylesheet" href="{% static 'css/ApoioCliente.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="buttonright">
                <button class="customer-support" href="#about">About Us</button>
                <button class="customer-support" href="#folheto">Folheto</button>
                <button class="customer-support" href="#lojas">Lojas</button>
            </div>
            <div class="logo">
                <h1>Mercado Machado</h1>
            </div>
            <div class="buttonleft">
                <button class="customer-support">Apoio ao Cliente</button>
                <button class="customer-support" href="#cesto"><img src="/site/img/Vector.png" alt="
                    cesto" style="width: 20px; height: 20px;" ></button>
            </div>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar">
        </div>
    </header>
<div class="primeira">
    <h1>Apoio ao Cliente</h1>
</div>
    <section class="promo-section">
        <div class="promo-card">
            <img src="/site/img/image 1.png" alt="Gringo">
            <h3>Email</h3>
            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>


    </section>
</body>
</html>