.logo a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #ff69b4;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buttonright {
    justify-content: flex-start;
    display: flex;
    gap: 0.5rem; /* Ajusta o espaçamento entre os botões */
}

.buttonleft {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.logo {
    flex-grow: 1;
    text-align: center;
}

.primeira {
    background-color: #000000;
    padding: 1rem;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-support {
    background-color: white;
    color: #ff69b4;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar {
    width: 50%; /* Ajustado para ser menor */
    margin: 1rem auto; /* Centraliza a barra de pesquisa */
}

.search-bar input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    margin-top: 1rem;
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.promo-section {
    background-color: black;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.promo-card {
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.juntos {
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Espaçamento entre o botão de cancelar e o seletor de quantidade */
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0 10px;
}

.description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.cancel-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c0392b;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.dropdown select:focus {
    outline: none;
    border-color: #6c63ff;
}

.compra {
    display: flex;
    justify-content: flex-end; /* Move o botão para o lado direito */
    padding: 1rem;
}